<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>

    <div id="app">
        <h1>{{messaggio}} questa è la prima repo <span :class="coloreTesto">{{altroMessaggio}}</span></h1>
        <input type="text" v-model="messaggio"><br>
        <button @click="cambiaColore()">Cambia colore al testo</button> <br>


        <input type="text" v-model="imgName">
        <button @click="changeImg('newImgName')">Cambia immagine</button>
        <img :src="path + imgName" alt="">

        <button @click="toggleTesto()">hide text</button>
        <p v-show="isTestoShow">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem reiciendis repellat id. Omnis quisquam nostrum voluptates dolores consequuntur ex sit!</p>

    </div>
    <script src="js/script.js"></script>
</body>
</html>